


.contain {
  columns: 3;
  column-gap: 5px;
  width: 80%;
  margin: 2px auto;
}

.contain img{
   width: 100%;
   margin: 0;
   padding: 3px;
}


html {
  height: 100%;
  /* max-height: 600px; */
  width: 100%;
  background-color: hsla(200,40%,30%,.4);
  background:   
    url('./img/88.jpg'), 
    url('./img/88.jpg'),
    url('./img/88.jpg'),
    url('./img/88.jpg'),
    url('./img/88.jpg');
  background-repeat: repeat-x;
  background-position: 
    0 20%,
    0 100%,
    0 50%,
    0 100%,
    0 0;
  background-size: 
    4500px,
    800px,
    500px 500px,
    1000px,
    400px 260px;
  animation: 50s para infinite linear;
  }

@keyframes para {
  100% {
    background-position: 
      -5000px 20%,
      -800px 95%,
      500px 50%,
      1000px 100%,
      400px 0;
    }
  }
